<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/52fa1066-4f3d-457f-8499-9c69b1ea3786/resourceGroups/rg-main/providers/Microsoft.Web/sites/hampshiretest</ResourceId>
    <ResourceGroup>rg-main</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://hampshiretest-ctefgfc8e3fseuda.uksouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e088e8b1-7d7d-4012-aa19-b0bab56721fb</ProjectGuid>
    <PublishUrl>https://hampshiretest-ctefgfc8e3fseuda.scm.uksouth-01.azurewebsites.net/</PublishUrl>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>