@page
@model LandlordModel
@{
    ViewData["Title"] = "Landlord";
}
<header>
    @await Html.PartialAsync("_NavBar", Model.NavBar)
</header>
<main role="main" class="pb-3 surface-primary_inverse">
    @await Html.PartialAsync("_Hero", Model.Hero)
</main>

