@page
@model TenantModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<header>
    @await Html.PartialAsync("_NavBar", Model.NavBar)
</header>
<main role="main" class="pb-3 surface-primary">
    <div class="listing-container">
        <div class="filter-container surface-secondary">
            <label class="dm-sans-h1 filter-heading" for="location">Search for a location</label>
            <div class="search-container">
                <input class="dm-sans-body search-bar surface-secondary with-shadow-reverse" id="location" placeholder="Search for a location" />
                <a class="btn btn-secondary dm-sans-button">Search</a>
            </div>
        </div>
        <div class="listing-results-container">
            <a class="btn btn-secondary" asp-area="" asp-page="/Tenant">
                <div class="property-card">
                    <img class="property-card_image" src="assets\openrent_home.jfif" />
                    <div class="property-card_content-container">
                        <div class="property-card_highlight-details">
                            <div class="property-card_highlight-detail">
                                <p class="dm-sans-h3">£5,350</p>
                                <p class="dm-sans-body">per month</p>
                            </div>
                            <div class="property-card_highlight-detail">
                                <p class="dm-sans-h3">0.21</p>
                                <p class="dm-sans-body">km</p>
                            </div>
                        </div>
                        <div class="property-card_details">
                            <div class="dm-sans-h3 property-card_details-header">3 Bed Flat, Top Floor, WC2N</div>
                            <p class="dm-sans-body property-card_description">
                                Beautiful 3-Bed Flat with Ensuite Rooms in Central London – Available  (ALL BILLS INCLUDED)

                                Stylish ensuite rooms are available in a beautifully designed flat located in the vibrant heart of Central London. This cosy home is ideal for both short- and long-term stays, offering comfort, privacy, and convenience.

                                Each of the three bedrooms comes with its own private bathroom, providing a perfect balance of personal space and shared living. The flat features a contemporary open-plan kitchen, a cosy and inviting living area, and a charming terrace, centred around a striking spiral staircase that adds a unique touch of character to the home.
                            </p>
                            <div class="property-card_key-details dm-sans-body">
                                <div class="property-card_key-detail">3 beds</div>
                                <div class="property-card_key-detail">3 baths</div>
                                <div class="property-card_key-detail">Furnished</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="btn btn-secondary" asp-area="" asp-page="/Tenant">
                <div class="property-card">
                    <img class="property-card_image" src="assets\openrent_home.jfif" />
                    <div class="property-card_content-container">
                        <div class="property-card_highlight-details">
                            <div class="property-card_highlight-detail">
                                <p class="dm-sans-h3">£5,350</p>
                                <p class="dm-sans-body">per month</p>
                            </div>
                            <div class="property-card_highlight-detail">
                                <p class="dm-sans-h3">0.21</p>
                                <p class="dm-sans-body">km</p>
                            </div>
                        </div>
                        <div class="property-card_details">
                            <div class="dm-sans-h3 property-card_details-header">3 Bed Flat, Top Floor, WC2N</div>
                            <p class="dm-sans-body property-card_description">
                                Beautiful 3-Bed Flat with Ensuite Rooms in Central London – Available  (ALL BILLS INCLUDED)

                                Stylish ensuite rooms are available in a beautifully designed flat located in the vibrant heart of Central London. This cosy home is ideal for both short- and long-term stays, offering comfort, privacy, and convenience.

                                Each of the three bedrooms comes with its own private bathroom, providing a perfect balance of personal space and shared living. The flat features a contemporary open-plan kitchen, a cosy and inviting living area, and a charming terrace, centred around a striking spiral staircase that adds a unique touch of character to the home.
                            </p>
                            <div class="property-card_key-details dm-sans-body">
                                <div class="property-card_key-detail">3 beds</div>
                                <div class="property-card_key-detail">3 baths</div>
                                <div class="property-card_key-detail">Furnished</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="btn btn-secondary" asp-area="" asp-page="/Tenant">
                <div class="property-card">
                    <img class="property-card_image" src="assets\openrent_home.jfif" />
                    <div class="property-card_content-container">
                        <div class="property-card_highlight-details">
                            <div class="property-card_highlight-detail">
                                <p class="dm-sans-h3">£5,350</p>
                                <p class="dm-sans-body">per month</p>
                            </div>
                            <div class="property-card_highlight-detail">
                                <p class="dm-sans-h3">0.21</p>
                                <p class="dm-sans-body">km</p>
                            </div>
                        </div>
                        <div class="property-card_details">
                            <div class="dm-sans-h3 property-card_details-header">3 Bed Flat, Top Floor, WC2N</div>
                            <p class="dm-sans-body property-card_description">
                                Beautiful 3-Bed Flat with Ensuite Rooms in Central London – Available  (ALL BILLS INCLUDED)

                                Stylish ensuite rooms are available in a beautifully designed flat located in the vibrant heart of Central London. This cosy home is ideal for both short- and long-term stays, offering comfort, privacy, and convenience.

                                Each of the three bedrooms comes with its own private bathroom, providing a perfect balance of personal space and shared living. The flat features a contemporary open-plan kitchen, a cosy and inviting living area, and a charming terrace, centred around a striking spiral staircase that adds a unique touch of character to the home.
                            </p>
                            <div class="property-card_key-details dm-sans-body">
                                <div class="property-card_key-detail">3 beds</div>
                                <div class="property-card_key-detail">3 baths</div>
                                <div class="property-card_key-detail">Furnished</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>


